h1{
    color: blue;
    text-align: center;
  text-transform: uppercase;
 
}
p{
    color: purple;
    text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
h2,h3,h4,h5{
    color: brown;
    text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}